name: Build Mod

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Download Geode CLI from Release
      run: |
        curl -L -o geode.exe https://github.com/xColtonGMDx/Demon-button-geode-mod/releases/download/Beans/geode.exe

    - name: Add CLI to PATH
      run: echo "$PWD" >> $GITHUB_PATH

    - name: Build mod
      run: geode.exe build

    - name: Upload built mod
      uses: actions/upload-artifact@v3
      with:
        name: mod
        path: build/*.geode
