name: Build Geode Mod

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Geode CLI manually
      run: |
        curl -L -o geode-cli.zip https://github.com/geode-sdk/geode/releases/download/v3.7.2/geode-cli-v3.7.2-linux.zip
        unzip geode-cli.zip -d geode-cli
        echo "$PWD/geode-cli" >> $GITHUB_ENV

    - name: Build mod
      run: geode build --all

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: geode-builds
        path: build/*.geode
