name: Build Geode Mod

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: fedora-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo dnf install -y ninja-build cmake gcc-c++ clang

      - name: Configure CMake
        run: cmake -B build -G Ninja -DGEODE_SDK_PATH="${{ github.workspace }}/Geode-sdk-real"

      - name: Build mod
        run: cmake --build build --config Release

      - name: Upload mod artifact
        uses: actions/upload-artifact@v4
        with:
          name: DemonButton
          path: build/*.geode
